
/*Doação 1*/

.section3 {
	background-color: #9AFF9A;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 750px;
	padding-left: 10px;
}
h3.h {
	background-color: #2E8B57;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
	margin-right: 1270px;
	color: white;
}
ul.dados {
	background-color: #7CCD7C;
	margin-right: 1080px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	color: black;
}
.F {
	background-color: #F0FFFF;
	font-family: Arial;
	border: solid;
	color: black;
	border-radius: 5px;
}
.input {
	background-color: #FFFFF0;
	border-radius: 5px;
	margin:6.5px 6.5px 6.5px 6.5px;
}

footer.rodape4 {
	background-color: #9AFF9A;
	border-radius: 5px;
	padding-left: 425px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Arial;
	font-size: 15px;
}

/*Doação 2*/

.section4 {
	background-color: #9AFF9A;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 23px;
	margin-right: 750px;
	padding-left: 10px;
}
h3.h3 {
	background-color: #2E8B57;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
	margin-right: 1270px;
	color: white;
}
ul.dados1 {
	background-color: #7CCD7C;
	margin-right: 1080px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	color: black;
}
.Fo {
	background-color: #F0FFFF;
	font-family: Arial;
	border: solid;
	color: black;
	border-radius: 5px;
}
.input1 {
	background-color: #FFFFF0;
	border-radius: 5px;
	margin:6.5px 6.5px 6.5px 6.5px;
}

footer.rodape5 {
	background-color: #9AFF9A;
	border-radius: 5px;
	padding-left: 425px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Arial;
	font-size: 15px;
}

	/*Doação 3*/

.section5 {
	background-color: #9AFF9A;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 23px;
	margin-right: 750px;
	padding-left: 10px;
}

h3.h5 {
	background-color: #2E8B57;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
	margin-right: 1230px;
	color: white;
}
ul.dados2 {
	background-color: #7CCD7C;
	margin-right: 1080px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	color: black;
}
.Fr {
	background-color: #F0FFFF;
	font-family: Arial;
	border: solid;
	color: black;
	border-radius: 5px;
}
.inputp {
	background-color: #FFFFF0;
	border-radius: 5px;
	margin:6.5px 6.5px 6.5px 6.5px;
}

footer.of {
	background-color: #9AFF9A;
	border-radius: 5px;
	padding-left: 425px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Arial;
	font-size: 15px;
}
